[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
nextcord = "*"
firebase-admin = "*"
google-cloud = "*"
mailchimp-marketing = {git = "https://github.com/mailchimp/mailchimp-marketing-python.git"}
boto3 = "*"
botocore = "*"

[requires]
python_version = "3.7"
